    <!DOCTYPE html>
      <html>
      
      <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>{{__ 'template.forgotPasswordEmail.TITTLE'}}</title>
          <style>
              body {
                  font-family: Arial, sans-serif;
                  line-height: 1.7;
                  color: #333;
              }
      
              .container {
                  max-width: 100%;
                  margin: 0 auto;
                  padding: 20px;
              }
      
              table tbody tr:not(:first-child):not(:last-child) {
                  padding: 0 !important;
                  display: block;
                  margin-bottom: 20px;
              }
      
              table tbody td>div:last-child {
                  margin-top: 10px;
              }
      
              table tbody td>div {
                  font-size: 16px !important;
              }
          </style>
      </head>
      
      <body>
          <div class="container">
              <table>
                  <tr>
                      <td style="padding-bottom: 15px;">
                          <img width="150px" src="{{dataUrl}}" alt="TCDAM"
                              style="width:150px; max-width: 150px;">
                      </td>
                  </tr>
                  <tr style="padding-bottom: 20px;
                            display: block;">
                      <td style="text-align: left;font-size: 16px;
                            padding: 15px 0 0;
                            font-weight: normal;
                            line-height: normal;"> {{__ 'template.DEAR'}} {{user_first_name}}, </td>
                  </tr>
              </table>
              <table align="left" style="width:100%; text-align: left;
                margin: 0 auto;">
      
                  <tr>
                      <td style="font-size: 16px;
      
                                  padding: 15px 0 0;
                                  font-weight: normal;
                                  line-height: normal;">
                            {{__ 'template.forgotPasswordEmail.RECIEVED_REQUEST_RESET_PASSWORD'}}:
                           </td>
                  </tr>
                  <tr>
                      <td>
                          <a class="button" href="{{resetPasswordLink}}?token={{user_token}}&ld={{basecurruntdate}}"
                              style="color:rgb(0, 89, 255);">
                              {{resetPasswordLink}}
                          </a>
      
                      </td>
                  </tr>
                  <tr>
                      <td style="font-size: 16px;
                                  padding: 15px 0 0;
                                  font-weight: normal;
                                  line-height: normal;">
                         {{__ 'template.forgotPasswordEmail.RESET_PASSWORD_LINK_VALID_TIME'}}
                      </td>
                  </tr>
                  <tr>
                      <td style="font-size: 16px;
      
                                  padding: 15px 0 0;
                                  font-weight: normal;
                                  line-height: normal;">
                     {{__ 'template.forgotPasswordEmail.RESET_PASSWORD_IGNORE_MESSAGE'}}
                      </td>
                  </tr>
                  <tr>
                      <td style="height: 150px;">&nbsp;</td>
                  </tr>
      
      
                  <tr>
                      <td style="border-top: 1px solid #f2f2f2; padding-top: 10px;">
                          <div style="font-size: 16px; font-weight: normal;display: block; line-height: 27px">
                           {{__ 'template.CONTACT_FOR_QUESTION_MESSAGE'}}
                              </div>
      
                          <div style="font-size: 16px; font-weight: normal;display: block; line-height: 27px">
                            {{__ 'template.WEBSITE_MORE_DETAIL_MESSAGE'}}
                              </div>
      
                          <div style="font-size: 16px; font-weight: normal;display: block; line-height: 27px"><a
                                  href="https://www.tcdam.com"
                                  style="color:rgb(0, 89, 255); font-size: 16px; line-height: 27px">https://www.tcdam.com</a>
                          </div>
                      </td>
                  </tr>
              </table>
      
          </div>
      </body>
      
      </html>